/* static/css/main.css */

body { background-color: #F5F5DC; }


.btn-primary-raspirover {
  margin-top: 7px;
}

#checkbox_f1, #checkbox_f2, #checkbox_f3, #checkbox_f4,#checkbox_f5,#checkbox_f6,#checkbox_f7,#checkbox_f8{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 72px;
	height: 72px;
}

#decimales{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 72px;
	height: 72px;
}

input.hide-checkbox { 
	display: none
}  

.servo{
        width: 125px;
        height: 100px;
	margin-left: 5px;
	margin-right: 175px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.control{
        width: 125px;
        height: 100px;	
	margin-left: 5x;
	margin-right: -175px;
	margin-top: -105px;
	margin-bottom: 5px;
}

#datos{
	margin-left: 5px;
	margin-right: 5px;
}

#cup, #cdown{
	margin-left: 40px;
}

#dup, #ddown{
	margin-right: 40px;
}


#checkbox_f1b, #checkbox_f2b, #checkbox_f3b, #checkbox_f4b,#checkbox_f5b,#checkbox_f6b,#checkbox_f7b,#checkbox_f8b{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 36px;
	height: 36px;
}
