{% extends 'estructura.html' %}

{% block titulo %}Analizar{% endblock  %}


{% block informacion %} 
	<ul>
		<li>En esta sección podrás ver las distintas exploraciones que ha realizado el usuario</li>
		<li>Haciendo click sobre el boton verde con el nombre de la exploración podrás acceder a sus detalles y ver las gráficas generadas.</li>
		<li>Tienes la opcion de eliminar haciendo click en eliminar</li>
	</ul>
{% endblock %}

{% block contenido %}

	{% include "_messages.html" %} <!-- incluimos el html messages para imprimir los mensajes -->
	
<div class="login_wrapper">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-dashboard fa-fw"></i> Exploraciones </h3>
    </div>
	{% if explo %}
		<div class="list-group">
		{% for x in explo %}
			<li class="list-group-item">

			    <a class="label label-success" href =/detallesExploracion/{{x.id_exploracion}}> {{x.nombre}}</a>

			    <a class="label label-danger pull-right" href =/eliminarExploracion/{{x.id_exploracion}}>Eliminar</></a>
			</li>
		{% endfor %}
		</div>
	{% else %}
	<div class="list-group">
		<i>Este usuario no tiene exploraciones</i>
	</div>
	{% endif %}

	</div>
</div>

<div align="center">
	 <button onclick="goBack()">Atrás</button>
</div>


<script>
function goBack() {
  window.history.back();
}
</script> 

{% endblock %}

