{% extends 'base.html' %}
    
    {% load static %}


{% block title %}Automatico{% endblock title %}

{% block centro %}
	
    <div id="content" align="center">
	    <img class="img-responsive" width="320" height="240" src="http://192.168.10.1:8554/?action=stream" onerror=src="{{ MEDIA_URL }}raspirover.png">			
        
        {% include 'datos.html' %}

		<a href="{% url 'salir' %}"><button type="button"><span class="glyphicon glyphicon-off" style="color:red" aria-hidden="true"></span></button></a>
    </div>  
 
{% endblock centro %}




