{% load static %}

<div id="datos">

    <label for="id_temperatura"><img id="checkbox_f1b" src="{{MEDIA_URL}}temperatura.png" >
            {% if temperatura < 15.0 %}      
                <font color="#00BFFF"> {{temperatura}}º </font>
            {% elif temperatura >= 15.0 and temperatura < 30.0 %}
                <font color="#2ecc71"> {{temperatura}}º </font>
            {% elif temperatura >= 30.0 %}
                <font color="#FF0000"> {{temperatura}}º </font>
            {% endif %}
    </label>
    
    <label for="id_humedad"><img id="checkbox_f2b" src="{{MEDIA_URL}}humedad.png" >
            {% if humedad < 30.0 %}      
                <font color="#00BFFF"> {{humedad}}% </font>
            {% elif humedad >= 30.0 and humedad < 50.0 %}
                <font color="#2ecc71"> {{humedad}}% </font>
            {% elif humedad >= 50.0 %}
                <font color="#FF0000"> {{humedad}}% </font>
            {% endif %}
    </label>

    <label for="id_presion"><img id="checkbox_f9b" src="{{MEDIA_URL}}presion.png" >
            {% if presion > 1000 %}      
                <font color="#FF0000">{{presion}}</font>
            {% else %}
                <font color="#2ecc71">{{presion}}</font>
            {% endif %}
    </label>

    <label for="id_luz"><img id="checkbox_f3b" src="{{MEDIA_URL}}luz.png" >
            {% if luz < 350 %}      
                <font color=" #FF0000"> <strong> {{luz}} </font>
            {% else %}
                <font color="#2ecc71"> <strong> {{luz}} </font>
            {% endif %}
    </label>

    <label for="id_gas"><img id="checkbox_f3b" src="{{MEDIA_URL}}gas.png" >
            {% if gas < 35.0 %}
                <font color="#00BFFF"> {{gas}} </font>
            {% elif gas >= 35.0 and humedad < 150.0 %}
                <font color="#2ecc71"> {{gas}} </font>
            {% elif gas >= 150.0 %}
                <font color="#FF0000"> {{gas}} </font>
            {% endif %}
    </label>
    
</div>

<script type="text/javascript">

    setInterval(function () {

        $("#datos").load("{% url 'mostrardatos' %} #datos");

    }, 15000); // This reloads the <div> every 15 second.

</script>
