{% load static %}

	
<div id="auto">
	{% if stemp == True %}
	<label for="id_temperatura"><img id="checkbox_f1b" src="{{MEDIA_URL}}temperatura.png" onclick="cambiar1()"> {{ temperatura }}º</label>
	{% endif %}
	
	{% if shum == True %}
	<label for="id_humedad"><img id="checkbox_f2b" src="{{MEDIA_URL}}humedad.png" onclick="cambiar2()"> {{ humedad }}%</label>
	{% endif %}
	
	{% if sgas == True %}
	<label for="id_gas"><img id="checkbox_f3b" src="{{MEDIA_URL}}gas.png" onclick="cambiar3()"> {{ gas }}</label>
	{% endif %}
	
	{% if sluz == True %}
	<label for="id_luz"><img id="checkbox_f4b" src="{{MEDIA_URL}}luz.png" onclick="cambiar4()"> {{ luz }}</label>
	{% endif %}
	
	{% if camara == True %}
	<label for="id_camara"><img id="checkbox_f5b" src="{{MEDIA_URL}}camara.png" onclick="cambiar5()"></label>
	{% endif %}

</div>

<script src="{% static 'jquery/jquery.min1.js' %}"></script>

<script type="text/javascript">

    function actualizar(){
        $('#auto').load('{% url 'mostrardatos' %} #auto');
    }

    setInterval( "actualizar()", 5000 );

</script>
