{% load static %}

	
<div id="auto">
	{% if stemp == True %}
	<label for="id_temperatura"><img id="checkbox_f1b" src="{{MEDIA_URL}}temperatura.png" > </label>
	{% endif %}
	
	{% if shum == True %}
	<label for="id_humedad"><img id="checkbox_f2b" src="{{MEDIA_URL}}humedad.png" > </label>
	{% endif %}
	
	{% if sgas == True %}
	<label for="id_gas"><img id="checkbox_f3b" src="{{MEDIA_URL}}gas.png" > </label>
	{% endif %}
	
	{% if sluz == True %}
	<label for="id_luz"><img id="checkbox_f4b" src="{{MEDIA_URL}}luz.png" > </label>
	{% endif %}
	
	{% if camara == True %}
	<label for="id_camara"><img id="checkbox_f5b" src="{{MEDIA_URL}}camara.png" ></label>
	{% endif %}

</div>


