{% extends 'base.html' %}

{% block title %}Detalles de Exploración{% endblock %}

{% block content %}	

		<h3>Detalle de Exploración</h3>
		<ul>
			<li> Nombre: {{explo.nombre}} </li>
			<li> Usuario: {{explo.usuariofk}} </li>
			<li> Fecha: {{explo.fecha}} </li>
			<li> Descripción: {{explo.descripcion}} </li>
			<li> Sensores Utilizados: </li>
			<ul>
				{% if temperatura %}
				<li> Sensor de temperatura: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{t}}><font color="#66B266">Mostrar gráfica</font></a> </li>
				{% endif %}

				{% if humedad %}
				<li> Sensor de humedad: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{h}}><font color="#66B266">Mostrar gráfica</font></a> </li>
				{% endif %}
			
				{% if gas %}
				<li> Sensor de gas: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{g}}><font color="#66B266">Mostrar gráfica</font></a> </li>
				{% endif %}
			
				{% if luz %}
				<li> Sensor de luz: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{l}}><font color="#66B266">Mostrar gráfica</font></a> </li>
				{% endif %}

				{% if gps %}
				<li> Sensor de gps: <a href =/mostrarMapa/{{explo.id_exploracion}}><font color="#66B266">Mostrar mapa</font></a> </li>
				{% endif %}

			</ul>			
		</ul>

	 	<br>
	 	<div align="center" ><a href="{% url 'analizar' %}"><label for="id_analizar"><img class="img-responsive" id="volver" src="{{MEDIA_URL}}volver.png"></label></a></div>
{% endblock content %}


