{% extends 'base.html' %}

{% block content %}	

		<h3>Detalle de Exploración</h3>
		<ul>
			<li> Nombre: {{explo.nombre}} </li>
			<li> Usuario: {{explo.usuariofk}} </li>
			<li> Fecha: {{explo.fecha}} </li>
			<li> Descripción: {{explo.descripcion}} </li>
			<li> Sensores Utilizados: </li>
			<ul>
				{% if temperatura %}
				<li> Sensor de temperatura: <a id="temp" href ='#'/>Mostrar gráfica</a> </li>
				{% endif %}

				{% if humedad %}
				<li> Sensor de humedad:: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{h}}>Mostrar gráfica</a> </li>
				{% endif %}
			
				{% if gas %}
				<li> Sensor de gas: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{g}}>Mostrar gráfica</a> </li>
				{% endif %}
			
				{% if luz %}
				<li> Sensor de luz: <a href =/mostrarGrafica/{{explo.id_exploracion}}/{{l}}>Mostrar gráfica</a> </li>
				{% endif %}
				
			{% include 'mostrarGrafica.html' %} 

			</ul>
		</ul>

{% endblock content %}

