{% extends 'base.html' %}

{% block title %}Editar contraseña{% endblock title %}

{% block content %}

<div><h2><img src="{% if usuario.photo %}{{ MEDIA_URL }}{{ usuario.photo }}{% else %}{{ MEDIA_URL }}default.png{% endif %}" width="60" height="" ="60"/> Perfil de usuario </h2></div>

	<div class="col-sm-4">
	    <h3 class="page-header">Cambiar contraseña</h3>
	    <form method="post" action="">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <button class="btn btn-primary" type="submit">Actualizar contraseña</button>
	        <a href="{% url 'index' %}" class="btn btn-warning" type="submit">Cancelar</a>
	    </form>
	</div>
	
{% endblock content %}
