{% extends 'estructura.html' %}

{% block titulo %}Cambiar foto{% endblock %}

{% block informacion %} 
	<ul>
		<li>Seleccione una foto para añadir o actualizar la foto de perfil </li>
	</ul>
{% endblock %}

{% block contenido %}

<a class="hiddenanchor" ></a>
	<div align="center">
		<img src="{% if usuario.photo %}{{ MEDIA_URL }}{{ usuario.photo }}{% else %}{{ MEDIA_URL }}default.png{% endif %}" width="120" height="120">		
	</div>
<div class="login_wrapper">

    <div class="animate form login_form">
        <section class="login_content">
        <form action="" method="post" class="form-register" enctype="multipart/form-data">
	     <h1>Cambiar Foto</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Actualizar foto</button>
        <a href="{% url 'index' %}" class="btn btn-warning" type="submit">Cancelar</a>
    </form>

		<div align="center">
			 <button onclick="goBack()">Atrás</button>
		</div>
		
	</div>

</div>



<script>
function goBack() {
  window.history.back();
}
</script> 
	
{% endblock  %}

