{% extends 'base.html' %}

{% block title %}Editar foto{% endblock title %}

{% block centro %}

	    <h3 class="page-header">Cambiar Foto</h3>
        <div class="col-md-6 col-md-offset-3">
		    <form method="POST" action="{% url 'editar_foto' %}" enctype="multipart/form-data">
		        {% csrf_token %}
		        {{ form.as_p }}
		        <button class="btn btn-primary" type="submit">Actualizar foto</button>
		        <a href="{% url 'index' %}" class="btn btn-warning" type="submit">Cancelar</a>
		    </form>
		</div>
	
{% endblock  %}

