{% extends 'estructura.html' %}

{% block titulo %}Editar contraseña{% endblock %}

{% block informacion %} 
	<ul>
		<li>Seleccione una nueva contraseña de usuario </li>
	</ul>
{% endblock %}

{% block contenido %}


<a class="hiddenanchor" ></a>

<div class="login_wrapper">
    <br/>
    <div class="animate form login_form">
        <section class="login_content">
        <form action="" method="post" class="form-register">
	     <h1>Cambiar Contraseña</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Actualizar contraseña</button>
        <a href="{% url 'index' %}" class="btn btn-warning" type="submit">Cancelar</a>
    </form>

		<div align="center">
			 <button onclick="goBack()">Atrás</button>
		</div>

	</div>

</div>



<script>
function goBack() {
  window.history.back();
}
</script> 

{% endblock %}

