
{% extends 'estructura.html' %}

{% block titulo %}Explorar{% endblock  %}

{% block informacion %} 
	<ul>
		<li>En esta sección podrás configurar la exploración eligiendo nombre, descripción, y los sensores.</li>
		<li>Si elijes no guardar valores en la base de datos solo tienes que dejar el tiempo de captura de datos sin tocar </li>
	</ul>
{% endblock %}

{% block contenido %}

{% include "_messages.html" %} <!-- incluimos el html messages para imprimir los mensajes -->
	
<div class="row" align="center">
		<form name="formulario"  method="POST">

			<h4> <center>Configurar la exploración</h4>
			<br>

			{% csrf_token %}
			{{ form.as_p }}
			
		        <label for="sbm"><img class="img-responsive" id="checkbox_f6" src="{{MEDIA_URL}}manualgris.png" onmouseover="cambiar6()" onmouseout="cambiar6alt()"></label>
			<input type="submit" class="hide-checkbox" name="manual" id="sbm" value="Comenzar" />

		</form>
	</div>

	<div align="center">
 		<button onclick="goBack()">Atrás</button>
	</div>


	<script>
		function goBack() {
			window.history.back();
		}
	</script> 

	</div>

</div>	


{% endblock %}


