{% extends 'base.html' %}

{% block title %}Explorar{% endblock title %}

{% block content %}

	<form name="formulario"  method="POST">
	    {% csrf_token %}

		<div align="center" >
			<h4>Nombre de Exploración:<input type="text" id="nombre"/></h4>

			<h4>¿Qué modo de control desea utilizar?</h4>
		
			<label for="checkbox_6"><img id="checkbox_f6" src="{{MEDIA_URL}}automatico.png" onclick="cambiar6()"></label>
			<input type="radio" class="hide-checkbox" id="checkbox_6" name="chb[]" checked="checked" value="automatico">

			<label for="checkbox_7"><img id="checkbox_f7" src="{{MEDIA_URL}}manualgris.png" onclick="cambiar7()"></label>
			<input type="radio" class="hide-checkbox" id="checkbox_7" name="chb[]" value="manual">

			<h4>¿Qué sensores desea utilizar?</h4>  

			<label for="id_temperatura"><img id="checkbox_f1" src="{{MEDIA_URL}}temperaturagris.png" onclick="cambiar1()"></label>
			<input type="checkbox" class="hide-checkbox" id="checkbox_1" value="temperatura" name="chb[]">


			<label for="id_humedad"><img id="checkbox_f2" src="{{MEDIA_URL}}humedadgris.png" onclick="cambiar2()"></label>
			<input type="checkbox" class="hide-checkbox" id="checkbox_2" value="humedad" name="chb[]">

			<label for="id_gas"><img id="checkbox_f3" src="{{MEDIA_URL}}gasgris.png" onclick="cambiar3()"></label>
			<input type="checkbox" class="hide-checkbox" id="checkbox_3" value="gas" name="chb[]">

			<label for="id_luz"><img id="checkbox_f4" src="{{MEDIA_URL}}luzgris.png" onclick="cambiar4()"></label>
			<input type="checkbox" class="hide-checkbox" id="checkbox_4" value="luz" name="chb[]">

			<label for="id_camara"><img id="checkbox_f5" src="{{MEDIA_URL}}camaragris.png" onclick="cambiar5()"></label>
			<input type="checkbox" class="hide-checkbox" id="checkbox_5" value="camara" name="chb[]"><br/>

			Tiempo de Trigger:<input type="text" name="chb[]" rows="1" cols="2"></textarea><br/></br></br>
			
			<input type="submit" value="Iniciar exploración" id="check"/>
			{{ form.as_p }}

		</div>
	</form>

{% endblock %}
