{% extends 'base.html' %}

{% block title %}Gracias{% endblock title %}

{% block centro %}

    {% if mensaje %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endif %}

	{% if login == '1' %}
	    <h2><font color="#1a66a4"> {{ username }} </font> gracias por registrarte!</h2>
	    <h3>Ya puedes iniciar sesión</h3>
	    
    {% elif login == '0' %}
	    <h2><font color="#1a66a4"> {{ username }} </font> gracias por haber usado Rumor</h2>
	    <h3> Te echaremos de menos...</h3>
    {% endif %}

    
{% endblock %}

