{% extends 'estructura.html' %}

{% block titulo %}Gracias{% endblock  %}

{% block contenido %}

<div class="row" align="center">

    {% if mensaje %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endif %}

	{% if login == '1' %}
	    <h2><font color="#1a66a4"> {{ username }} </font> gracias por registrarte!</h2>
	    <h3>Ya puedes iniciar sesión</h3>
	    
    {% elif login == '0' %}
	    <h2><font color="#1a66a4"> {{ username }} </font> gracias por haber usado Raspirover</h2>
	    <h3> Te echaremos de menos...</h3>
    {% endif %}

    </div>    
{% endblock %}

