<!-- Pagina principal tras el inicio de sesion de un usuario -->
{% extends "estructura.html" %}

{% block titulo %}
Menú Principal
{% endblock %}


{% block informacion %} 
	<ul>
		En la pantalla del menú principal, podrás elegir entre dos opciones:</br></br>
		<li>Selecciona la opción explorar para iniciar una exploración.</li>
		<li>Selecciona la opción analizar para ver los detalles de la exploración y sus gráficas.</li></br>
	</ul>
{% endblock %}


{% block contenido %}
	{% include "_messages.html" %} <!-- incluimos el html messages para imprimir los mensajes -->
	<div id="content" align="center">
		<img class="img-responsive" width="320" height="240" src="{{ MEDIA_URL }}raspirover.png">
	</div>

{% endblock %}