{% extends 'base.html' %}

{% block title %} Index {% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="content" align="center">
	        <img class="img-responsive" width="320" height="240" alig="center" src="{{ MEDIA_URL }}raspirover.png">
        </div>
        <div class="content" align="center">

	</div>
    {% else %}
		<div class="content" align="center">

            <a href="{% url 'registro' %}"> <button type="button" class="btn btn-primary"> Registro </button> </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'login' %}"> <button type="button" class="btn btn-success"> Iniciar sesión </button> </a>

			<div class="content" align="center">
	       		<img class="img-responsive" width="320" height="240" alig="center" src="{{ MEDIA_URL }}raspirover.png">
        	</div>
		</div>

	{% endif %}

{% endblock content %}


{% block centro %}
        <a href="{% url 'apagar' %}"> <button type="button" class="btn btn-danger"> Apagar </button> </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'reboot' %}"> <button type="button" class="btn btn-warning"> Reiniciar </button> </a>

    	</div>
{% endblock centro %}