{% extends 'base.html' %}

{% block title %}Iniciar sesión{% endblock title %}

{% block cuerpo %}
<<a class="hiddenanchor" ></a>

<div class="login_wrapper">
    <br/>
    <div class="animate form login_form">
        <section class="login_content">
        <form action="" method="post" class="form-register"> {% csrf_token %}
            <h1>Iniciar sesión</h1>
                 {% include "_messages.html" %} <!-- incluimos el html messages para imprimir los mensajes -->
            <div class="form-group">
                <input type="text" placeholder="username" class="form-control"  name="username" value="" />
            </div>

            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" name="password" value="" />
            </div>
            <button type="submit" class="btn btn-success">Iniciar sesión</button> 

        </form>
            <div>
                
                <a class="btn btn-warning" onClick="window.location='{% url 'registro' %}'">Registrate</a> <!-- Boton que lleva hacia el registro -->
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                
                <div class="clearfix"></div>
                <br />

                <div>
                    <p>© Francisco Arcos 2019</p>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}
