{% extends "base.html" %}

{% load static %}

{% load chartit %}

{% block title %}Gráfica{% endblock %}

{% block content %}

        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
    
        <div id="grafica">{{ chart|load_charts:"grafica" }}</div>
	<br>

<div align="center"><a href =/detallesExploracion/{{explo.id_exploracion}}><label for="id_analizar"><img class="img-responsive" src="{{MEDIA_URL}}volver.png"></label></a></div>


{% endblock %}

