{% extends 'base.html'%}

{% block titulo %} Registro de usuario{% endblock %}

{% block centro %}

        <div align="center">
                <h2>Registro Usuario</h2>
                <form id='form' method='post' action=''> {%csrf_token%}
                    <h4>Datos personales</h4>
                    <p>Nickname: {{ form.username }}</p>
                    <p>E-mail: {{ form.email }}</p>
                    
                   <br>

                    <h4>Contraseña</h4>
                    <p>Contraseña: {{ form.password }}</p>
                    {{ form.password.errors }}
                    <p>Confirmar contraseña: {{ form.password1 }}</p>
                    {{ form.password1.errors }}

                    <br><h4>Foto de perfil</h4>
                    
                    {{ form.photo }}

                    <br>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    <br>
                </form> 
        </div>
    
    
{% endblock %}
