{% extends 'base.html'%}

{% block title %} Registro de usuario{% endblock title%}

{% block content %}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Registro de Usuario</div>
        <div class="card-body">

            <form id='form' method='post' action=''> 
                {%csrf_token%}
                <div class="form-group">
                    <div class="form-label-group">
                        {%csrf_token%}
                        {% for error in form.non_field_errors %}
                            <div class="form-label-group">
                                {{error}}
                            </div>  
                        {% endfor %}
                    </div>
                    {% for field in form %}
                    <div class="form-group">
                        <div class="form-label-group">
                            {{field.errors}}
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
