{% extends 'base.html' %}

{% block title %}Sobre mi{% endblock title %}

{% block centro %}
		
	    <h3><Center> Raspirover </Center></h3>
		<h4>Sistema robótico móvil multisensorial con capacidad manual y autónoma de exploración de espacios</h4>
       <img class="img-responsive" width="240" height="120" src="{{ MEDIA_URL }}raspirover.jpg">
		<br>

	    <p>Proyeco de fin de grado de informática en la especialidad de computadores en la Universidad de Córdoba, realizado por el alumno Francisco Jesús Arcos Romero en el año 2016-2017 bajo la dirección Don José Manuel Soto Hidalgo, profesor Contratado Doctor y Don Juan Carlos Gámez Granados, profesor en Comisión de Servicios, ambos del Área de Arquitectura y Tecnología de Computadores del Departamento de Arquitectura de computadores, Electrónica y Tecnología Electrónica de la Universidad de Córdoba.</p>

		<img class="img-responsive" width="150" height="150" src="{{ MEDIA_URL }}uco.png"></a>

		<p> Correo electronico de contacto: i32arrof@uco.es </p>

		
{% endblock %}
