/* static/css/main.css */

body { background-color: grey; }

.btn-primary-raspirover {
  margin-top: 7px;
}

#checkbox_f1, #checkbox_f2, #checkbox_f3, #checkbox_f4,#checkbox_f5,#checkbox_f6,#checkbox_f7{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 72px;
	height: 72px;
}

#grafica {
 	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 36px;
	height: 36px;    
}

#decimales{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 72px;
	height: 72px;
}

input.hide-checkbox { 
	display: none
}  

.servo{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.control{
	
	margin-left: 5x;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#datos{
	margin-left: 5px;
	margin-right: 5px;
}

#checkbox_f1b, #checkbox_f2b, #checkbox_f3b, #checkbox_f4b,#checkbox_f5b,#checkbox_f6b,#checkbox_f7b{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 36px;
	height: 36px;
}
